# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment files
.env

# Logs
logs/
*.log

# Database files
database/*.db

# Generated data files
data/bronze/*.csv
data/silver/*.csv
data/gold/*.csv

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/